.container {
    max-width: 960px;
  }
  
  
  .site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  }
  .site-header a {
    color: #999;
    transition: ease-in-out color .15s;
  }
  .site-header a:hover {
    color: #fff;
    text-decoration: none;
  }
  
  .flex-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
  @media (min-width: 768px) {
    .flex-md-equal > * {
      -ms-flex: 1;
      flex: 1;
    }
  }
  
  .overflow-hidden { overflow: hidden; }

  
.body__productos{
    padding-top: 3rem;
}

.main__bgHeadline{
    background-color: black;
    background-image: url(../images/fondoproductos.jpg);
    background-size: cover;

    h1 {
        color: $color_amarillo;
        
    }

    p {
        color: white;
    }
}

.main__entradasDigitales{
    background-image: url(../images/digitalimg.jpg);
    background-size: cover;
    background-position: center;
    width: 80%; 
    height: 300px; 
    border-radius: 21px 21px 0 0;
   
}

.main__entradasAnalogas{
    background-image: url(../images/analogimg.jpg);
    background-size: cover;
    background-position: center;
    width: 80%; 
    height: 300px; 
    border-radius: 21px 21px 0 0;
   
}

.main__salidas{
    background-image: url(../images/outputimg.jpg);
    background-size: cover;
    background-position: center;
    width: 80%; 
    height: 300px; 
    border-radius: 21px 21px 0 0;
   
}

.main__sensores{
    background-image: url(../images/sensoresimg.jpg);
    background-size: cover;
    background-position: center;
    width: 80%; 
    height: 300px; 
    border-radius: 21px 21px 0 0;
   
}

.main__ble{
    background-image: url(../images/bleimg.jpg);
    background-size: cover;
    background-position: center;
    width: 80%; 
    height: 300px; 
    border-radius: 21px 21px 0 0;
   
}

.main__auto{
    background-image: url(../images/autoimg.jpg);
    background-size: cover;
    background-position: center;
    width: 80%; 
    height: 300px; 
    border-radius: 21px 21px 0 0;
   
}