@import "variables";
@import "fuentes";
@import "icons";
@import "footer";
@import "header";
@import "section";
@import "main";
@import "construccion";
@import "contacto";
@import "productos";


body{         
    background-color: $background-color;
    font-family: $body-Font;
    padding-top: 9rem;
}

.bg-navColorPropio{
    background-color: $background-color;

}
